<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
</head>
<body>
    <p>i am in bitches</p>
    <main class="admin">
        <div class="admin__upload-file">
          <form action="/imageLink/62dc01bdc7702a256e312ec9/62dd5e9edabc01954edaf9a8/imageUpload" enctype="multipart/form-data" method="POST">
            <input type="file" class="admin__input" id="myFile" name="myFile" />
            <input type="text" name='source'/>
            <input type="text" name='title'/>
            <input class="admin__submit" type="submit" value="submit" />
            
          </form>
        </div>
      </main>
</body>
</html>